<div class="card my-6 flex justify-content-around flex-wrap card-container">
  <div class="flex align-items-center justify-content-center">
    <h1>Time Sheet Generator</h1>
  </div>

  <div class="flex align-items-center justify-content-center">
    <p-selectButton [options]="themeOptions" [(ngModel)]="theme" optionLabel="label" optionValue="value"
      (click)="toggleTheme(theme)"></p-selectButton>
  </div>
</div>

<app-timesheet-form [form]="form" [activities]="activities" [dateRange]="dateRange" [disabledDays]="disabledDays"
  [disabledDates]="disabledDates"></app-timesheet-form>

<div class="card my-6 flex flex-row justify-content-center flex-wrap">
  <div class="flex flex-column align-items-end mr-4">
    <p-button label="Clear" (click)="clear()"></p-button>
  </div>
  <div class="flex flex-column ">
    <p-button label="Generate" (click)="generate()" [disabled]="!form.valid"></p-button>
  </div>
</div>